*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F9F6;

   
  
 
}



.main-nav {
   background-color: #F3F9F6;
   padding: 0px 30px;
   transition: background-color 0.20s ease-in-out;
  }

  .main-nav:hover{
    background-color: white;
    
  }

  .ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li{
      height: 50px;
    }
  }
  

/* .logo{
    width: 165px;
    height: 59px;
} */

/* .details{
    display: flex;
    gap: 50px;
    height: 60px;
    justify-content: center;
    align-items: center;
    /* position: relative; right: 40px; */


.home{
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
    color: #F47F38;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
transition: 0ms;
/* border-bottom: #F47F38 solid 2px; */
}


.about {
    color: #111;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .about:hover {
    color: #F47F38;
    transform: rotateX(180deg) scaleY(-1);
  
  }


.projects {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
    color: #111;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .projects:hover {
    color: #F47F38;
    transform: rotateX(180deg) scaleY(-1);
  }


.contacts {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
    color: #111;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .contacts:hover {
    color: #F47F38;
    transform: rotateX(180deg) scaleY(-1);
  }
  


  .main-nav li:first-child{
    margin-right: auto;

  }


  .sidebar{
    position: fixed;
    list-style: none;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    display: none;
    flex-direction: column;
    gap: 24px;
    /* backdrop-filter: blur(10px); */
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

  }
  

  .sidebar li{
    width: 100%;
  }

  

.home-sidebar{
 height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
    color: #F47F38;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
}


.about-sidebar{
  color: #111;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.projects-sidebar{
  color: #111;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.contacts-sidebar{
  color: #111;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}


.hamburgerr{
  height: 18px;
  width: 18px;
  position: relative; top: 15px;
  display: none;
  
}

.hamburgerrx{
  height: 16px;
  width: 16px;
  position: relative; top: 15px; left: 360px;
}


/* @media(max-width: 1280px){
.header-title{
  width: 1000px;
}
} */





















.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 108px;
  background-color: #F3F9F6;
  /* border: #111 solid 2px; */
}

.title-section {
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
/* align-self: stretch; */


}

.header-title {
  color: #222;
  text-align: center;
  font-family: Oxanium;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.header-titlespan {
  color: #e83f6f;
  font-family: Oxanium;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-btn {
  width: 148px;
  height: 42px;
  border-radius: 13.333px;
  border: 1.5px solid #2274A5;
  background-color: #2274A5;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #FFF;
  border: none;
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Hover effect */
.hero-btn:hover {
  background-color: #185e91; /* Darker background color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

/* Optional: Add active effect */
.hero-btn:active {
  transform: scale(0.95); /* Scale down slightly on click */
}

 /* About the third screeen */

 .primary-about{
  height: 600px;
  display: flex;

  /* border: #111 solid 2px; */
}

.secondary-about{
 display: grid;
 background-color: #F3F9F6;
 grid-template-columns: auto auto;
 justify-content: center;
 align-items: center;
 gap: 200px;

 /* border: #111 solid 2px; */



}

.first-about{
  display: grid;
  grid-template-columns: auto;
  gap: 12px;
  /* border: #111 solid 2px; */

}

.about-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;


}


.header-text{
  width: 323px;
height: 87px;
}

.first-h1 {
  -webkit-text-stroke: 1px #e83f6f16; /* Width and color of the stroke */
  font-family: Nunito;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: transparent; /* Hides the original text color */
}


.second-h1{
font-family: Nunito;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #e83f6f;
position: relative; bottom: 64px ;
}



.p-about {
  width: 456px;
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

}



.view-projects-button{
  width: 148px;
  height: 42px;
  border-radius: 13.333px;
  border: 1.5px solid #2274A5;
  background-color: #2274A5;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #FFF;
position: relative; top: 20px;

}

.view-projects-button:hover {
  background-color: #185e91; /* Darker background color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

/* Optional: Add active effect */
.view-projects-button:active {
  transform: scale(0.95); /* Scale down slightly on click */
}










.first-thirdrow{
  background: #F3F9F6;
  display: flex;
/* width: 100vw; */
padding: 100px 339px;
flex-direction: column;
align-items: center;
gap: 10px;


}


.second-thirdrow{
  display: flex;
flex-direction: column;
align-items: center;
gap: 50px;


}


.services-container{
  width: 248px;
height: 87px;
}

.thirdrow-h1 {
  -webkit-text-stroke: 1px #FA9F1C16; /* Width and color of the stroke */
  font-family: Nunito;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: transparent; /* Hides the original text color */
}


.another-h1{
font-family: Nunito;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #111111;
position: relative; bottom: 64px ;
text-align: center;
}



.services-options{
  display: flex;
width: 1056px;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 60px 76px;
flex-wrap: wrap;
}


.services {
  display: flex;
  padding: 22.519px 16.879px 30.734px 24.96px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.149px;
  border-radius: 7.471px;
  background: #FFF;
  height:210px;
  /* Adding background shadow */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 12px 40px rgba(0, 0, 0, 0.15);
}



.services-about{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 11.954px;
}


.services-about-h4{
  color: #111;
font-family: Raleway;
font-size: 17.931px;
font-style: normal;
font-weight: 450;
line-height: normal;
}


.services-about-p{
  color: #444;
font-family: "Open Sans";
font-size: 12.48px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 218.161px;

}


.skills-container{
  display: inline-flex;
padding: 100px 70px;
flex-direction: column;
align-items: center;
gap: 10px;
background: #F3F9F6;
}

.skills-container-2{
  display: flex;
flex-direction: column;
align-items: center;
gap: 40px;

}


.skills-containertext{
  width: 952px;
  height: 87px;
  
}

.skillsrow-h1 {
  -webkit-text-stroke: 1px #FA9F1C16; /* Width and color of the stroke */
  font-family: Nunito;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: transparent; /* Hides the original text color */
}


.skills-h1{
font-family: Nunito;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #111111;
position: relative; bottom: 64px ;
text-align: center;
}



.skills-container-3{
  display: grid;
  grid-template-columns: auto auto auto;
width: 1200px;
align-items: flex-start;
gap: 231px;
}

.skills{
  display: flex;
width: 303px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
flex-shrink: 0;
}


.skills-group{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.skills-h5{
  color: #111;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}


.skills-all{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 303px;
  column-gap: 20px;
  row-gap: 30px;
}

.logo-skills{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.skills-text{
  color: #222;
text-align: center;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}




.work-experiences{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}


.workexperience1{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}

.workexperience-p{
  color: #555;
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.workinfo{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.ui{
  color: #111;
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.ui-info{
  color: #2A848A;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}




.main-footer{
  display: flex;
  width: 1300px;
padding: 126px 71px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
background-color:#D6E9E4;
}



.footer-container{
  display: flex;
align-items: center;
gap: 54px;
}


.footer-ptag{
  color: #111;
text-align: center;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}




.footer-icons{
  display: flex;
justify-content: flex-end;
align-items: center;
gap: 40px;

}



@media(min-width: 320px){

  .main-nav{width: 320px;
  justify-content: center;
}

  

  .sidebar{
    width: 100%;
  }

.hamburgerr{display: block;}

.hamburgerrx{
  display: block;
  position: relative; left: 276px;

}

.lo{
  width: 100px;
  height: 30px;
  position: relative; top: 12px;

}


  .home{
    display: none;
  }

  .about{
    display: none;
  }

  .projects{
    display: none;
  }

  .contacts{
    display: none;
  }

  
  .hero{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 50px;
   
  }



  .title-section{
    width: 300px;
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .header-title{
    text-align: left;
    font-size: 20px;
  }

  .header-titlespan{
    text-align: left;
    font-size: 20px;
  }

  .heroimg{
    justify-content: flex-end;
    
  }
  .heroimg1{
    width: 300px;
  }
  
  .hero-btn{
    width: 160px;
    font-size: 14px;
    height: 36px;
    font-weight: 500;
  }


.primary-about{
  width: 320px;
  display: grid;
  grid-template-columns: auto;
  justify-content: flex-end;
  
  
  
  /* background-color: #e45151; */
}

.secondary-about{
  display: grid;
  grid-template-columns: auto;
  width: 320px;
  gap: 30px;
  padding-left: 10px;
}

.first-about{
 
  width: 320px;
  display: grid;
  grid-template-columns: auto;
  justify-content: flex-end;

}

.about-details{
  display: grid;
  grid-template-columns: auto;
}

.header-text{
  justify-content: flex-end;
  width: 200px;
  height: 50px;
  /* background-color: tomato; */
}

.first-h1{
  font-size: 30px;
}

.second-h1{
font-size: 20px;
position: relative; top: -34px;
}

.p-about{
  width: 310px;
  font-size: 12px;
  /* padding-left: 10px; */
  /* position: relative;bottom: 116px;  */
}

.view-projects-button{
  width: 160px;
    font-size: 14px;
    height: 36px;
    font-weight: 500;
}
.img-about{
  width: 200px;
}


.first-thirdrow{
 display: none;

}


.skills-container{
  width: 320px;
}

.skills-container-2{
  width: 320px;
  display: grid;
  grid-template-columns: auto;
  justify-content: flex-end;


}

.skills-containertext{
  justify-content: flex-end;
  width: 300px;
padding-left: 10px;
}
.skillsrow-h1{
  font-size: 30px;
  text-align: left;

}

.skills-h1{
  font-size: 22px;
  text-align: left;
}

.skills-container-3{
  display: grid;
  grid-template-columns: auto;
  width: 320px;
  row-gap: 80px;
  padding-left: 10px;
}

.skills{
  width: 200px;
  justify-content: flex-end;
  display: grid;
  grid-template-columns: auto;
  row-gap: 40px;
}

.skills-all{
  width: 200px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 0px;
}

.figma{
  width:30px ;
}

.work-experiences{
  row-gap: 40px;
}

.main-footer{
  width: 320px;
  height: 100px;
padding-left: 10px;
justify-content: flex-end;

}

.footer-container{
display: grid;
grid-template-columns: auto;
row-gap: 20px;
}

.footer-ptag{
text-align: left;
}

.footer-icons{
  column-gap: 12px;
  justify-content: center;
  align-items: center;
  
}




}
  
  

/* @media(max-width: 768px){


  .sidebar{
    width: 100%;
  }

.hamburgerr{display: block;}

.hamburgerrx{
  display: block;
  position: relative; left:722px;
}


  .home{
    display: none;
  }

  .about{
    display: none;
  }

  .projects{
    display: none;
  }

  .contacts{
    display: none;
  }

  .sidebar{
    width: 100%;
  }
}
 */






